button{
	width: 100px;
	height: 30px;
}

#positionBar {
   height: 30px;
   color: white;
   font-weight: bold;
   background: steelblue;
   text-align: center;
}

#positionBar span {
   display: inline-block;
   margin-top: 5px;
}

#durationBar {
   border: solid 1px blue;
  
   margin-bottom: 5px;
}