#idborder{
	width: 600px;
	height: 500px;
	padding: 0px;
	margin: 0px;
	align-content: center;

	/*background-color: paleturquoise;*/
}
video {
	padding: 0px;
	margin: 0px;
}
button{
	width: 100px;
	height: 30px;
}

#idbar{
	width: 600px;
}
#positionBar {
   height: 30px;
   color: white;
   font-weight: bold;
   background: steelblue;
   text-align: center;
}

#positionBar span {
   display: inline-block;
   margin-top: 5px;
}

#durationBar {
   border: solid 1px blue;
   margin-bottom: 5px;
}