   body{
      height: 15000px;
    }
    .fix{
      position: fixed;
      top: 0px;
      right: 0px;
    }
    div{
      width: 15000px;
      height: 100px;
      background: black;
      position: absolute;
      top: 1900px;
      right: 0px;
    }